<style>
#btn1 {
    position: absolute;
    left: 30%;
    top: 40%;
}

#btn2 {
    position: absolute;
    right: 30%;
    top: 40%;
}
</style>

<div class="row">
    <a class="btn btn-default" href="/admin/update" id="btn1">Update Main Currency Info List</a>
    <a class="btn btn-default" href="/admin/emails" id="btn2">Email List of Subscribers</a>
</div>