	<div id="wrap">
		
			<div class="header">
				<span>Welcome to ...</span>
			</div>


			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Brand</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Blog <span class="sr-only">(current)</span></a></li>
			        <li><a href="#">Link</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			          </ul>
			        </li>
			      </ul>



			      <form class="navbar-form navbar-right">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-default">Search</button>
			      </form>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

			<!-- E-mail form -->
			<div class="email">
				<form id="newsletter-signup" action="?action=signup" method="post">
				    <fieldset>
				        <label for="signup-email">E-mail:</label>
				        <input type="text" name="signup-email" id="signup-email" />
				        <input type="submit" id="signup-button" value="Sign Up!" />
				        <p id="signup-response"></p>
				    </fieldset>
				</form>
			</div>

			<!-- Table saw table -->
			<div class="table">
				<table class="table table-striped table-hover tablesaw tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" style="">
							<thead>
								<tr>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class="tablesaw-cell-persist tablesaw-sortable-head"><button class="tablesaw-sortable-btn">Movie Title</button></th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-sortable-head tablesaw-sortable-ascending"><button class="tablesaw-sortable-btn">Rank</button></th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="tablesaw-sortable-head"><button class="tablesaw-sortable-btn">Year</button></th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" class="tablesaw-sortable-head"><button class="tablesaw-sortable-btn">Rating</button></th>
									<th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4" class="tablesaw-sortable-head"><button class="tablesaw-sortable-btn">Gross</button></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Avatar_(2009_film)">Avatar</a></td>
									<td>1</td>
									<td>2009</td>
									<td>83%</td>
									<td>$2.7B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Titanic_(1997_film)">Titanic</a></td>
									<td>2</td>
									<td>1997</td>
									<td>88%</td>
									<td>$2.1B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/The_Avengers_(2012_film)">The Avengers</a></td>
									<td>3</td>
									<td>2012</td>
									<td>92%</td>
									<td>$1.5B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Harry_Potter_and_the_Deathly_Hallows_%E2%80%93_Part_2">Harry Potter and the Deathly Hallows—Part 2</a></td>
									<td>4</td>
									<td>2011</td>
									<td>96%</td>
									<td>$1.3B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Frozen_(2013_film)">Frozen</a></td>
									<td>5</td>
									<td>2013</td>
									<td>89%</td>
									<td>$1.2B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Iron_Man_3">Iron Man 3</a></td>
									<td>6</td>
									<td>2013</td>
									<td>78%</td>
									<td>$1.2B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Transformers:_Dark_of_the_Moon">Transformers: Dark of the Moon</a></td>
									<td>7</td>
									<td>2011</td>
									<td>36%</td>
									<td>$1.1B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/The_Lord_of_the_Rings:_The_Return_of_the_King">The Lord of the Rings: The Return of the King</a></td>
									<td>8</td>
									<td>2003</td>
									<td>95%</td>
									<td>$1.1B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Skyfall">Skyfall</a></td>
									<td>9</td>
									<td>2012</td>
									<td>92%</td>
									<td>$1.1B</td>
								</tr>
								<tr>
									<td class="title tablesaw-cell-persist"><a href="http://en.wikipedia.org/wiki/Transformers:_Age_of_Extinction">Transformers: Age of Extinction</a></td>
									<td>10</td>
									<td>2014</td>
									<td>18%</td>
									<td>$1.0B</td>
								</tr>
							</tbody>
						</table>
			</div>

	</div>

  <!-- jQuery, javascript file for the Bootstrap's javascript file to function -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- Bootstrap's javascript file that allows the dropdown menu to work  -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>