/*all pages*/

#wrap {
    width: 100%;
    height: 100%;
    /*background: #000;*/
    background-image: url(images/smoke.jpeg);
    background-size: cover;
}

.header {
    background: #666;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

.header span {
  color: #fff;
  margin-left: 45%;
  letter-spacing: 1px;
}

.navbar-brand {
    width: 70px;
    color: #8c8c8c;
}

/*E-mail form*/
#newsletter-signup { 
    padding:0px;
    margin:0;
}

fieldset {
    border:none; 
    background: #000;
    margin-bottom: 20px;  
    width: 100%; 
}

fieldset label {
    padding-bottom: 20px;
    color: #666;
}
 
.email {
    text-align: right;
    width:100%;
}

form {
    margin:20px;    
    padding:15px;
    border: none;
}
 
input {
    border:none;
    background-color:none;  
}
 
#signup-email {
    border:1px solid #999999;
    color:#9E9E9E;
    padding:5px;
    margin-left:10px;
    margin-right:4px;
}
 
#signup-email:focus {
    border-color:#9FCBFF;
    background-color:#DFEEFF;
    background-image:none;
    color:#000;
}
 
#signup-button {
    background-color:#9FCBFF;
    color:#FFF;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:5px;
    text-shadow: 1px 1px 1px #5FA8FF;   
}
 
#signup-button:hover {
    cursor:pointer;
    background-color:#7FB9FF;
}
 
#signup-response {
    display:inline;
    margin-left:4px;
    padding-left:20px;
}
 
.response-waiting {
    background:url("loading.gif") no-repeat;
}
 
.response-success {
   background:url("tick.png") no-repeat;
}
 
.response-error {
   background:url("cross.png") no-repeat;
}

/*Contact*/

#content {
/*    background-image: url(images/smoke.jpeg);
    background-size: cover;*/
    /*background-color: #666;*/
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
}

#contact-header h1 {
    padding: 60px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 2px #333;
}

/*Contact form*/

label {
   padding-top: 40px;
/*   margin-left: 20px;*/
   padding-right: 25px;
   font-size: 18px;
   color: #000;
}

#fname, #email, #msg {
    /*margin-left: 20px;*/
}

textarea {
    color: #8c8c8c;
    margin-left: 20px;
}


#contact-form {
    margin: 0 10%;
    width: 500px;
    height: 500px;
    background: #8c8c8c;
}

#contact {
    margin: 0 10%;
    float: right;
    width: 500px;
    height: 500px;
    background: #8c8c8c;
}

#contact p {
    font-size: 18px;
    margin: 55px 75px;
    color: #000;
}

#submit {
    margin-top: 40px;
    margin-left: 20px;
}

/*footer*/

footer {
    height: 150px;
    width: 100%;
    background: #666;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

